<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleOnScreenDeathCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OnScreenCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TwitchStreamCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleOnScreenDeathCounter.Properties.Settings>
            <setting name="Message" serializeAs="String">
                <value>Death Count</value>
            </setting>
            <setting name="XsplitObsStartTag" serializeAs="String">
                <value>&lt;xsplit&gt;</value>
            </setting>
            <setting name="XsplitObsEndTag" serializeAs="String">
                <value>&lt;/xsplit&gt;</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Count" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReverseOrder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleOnScreenDeathCounter.Properties.Settings>
        <OnScreenCounter.Properties.Settings>
            <setting name="Message" serializeAs="String">
                <value>Death Count</value>
            </setting>
            <setting name="XsplitObsStartTag" serializeAs="String">
                <value>&lt;xsplit&gt;</value>
            </setting>
            <setting name="XsplitObsEndTag" serializeAs="String">
                <value>&lt;/xsplit&gt;</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Count" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </OnScreenCounter.Properties.Settings>
        <TwitchStreamCounter.Properties.Settings>
            <setting name="Message" serializeAs="String">
                <value>Death Count</value>
            </setting>
            <setting name="XsplitObsStartTag" serializeAs="String">
                <value>&lt;xsplit&gt;</value>
            </setting>
            <setting name="XsplitObsEndTag" serializeAs="String">
                <value>&lt;/xsplit&gt;</value>
            </setting>
            <setting name="HotKey" serializeAs="String">
                <value>None</value>
            </setting>
        </TwitchStreamCounter.Properties.Settings>
    </userSettings>
</configuration>